
/*
 * Styles for main plugin button, which initiates Hyperlang.
 */


/*
 * These styles are for the administrative interface.
 */
.magic-menu-editor {
    padding-bottom:150px;
}
.magic-menu-grid tr th:nth-child(1),
.magic-menu-grid tr td:nth-child(1) {
    white-space: nowrap;
    width:50%;
}
.magic-menu-grid tr th:nth-child(2),
.magic-menu-grid tr td:nth-child(2),
.magic-menu-grid tr th:nth-child(3),
.magic-menu-grid tr td:nth-child(3),
.magic-menu-grid tr th:nth-child(4),
.magic-menu-grid tr td:nth-child(4) {
    display: none;
}
.magic-menu-grid tr th:nth-child(2),
.magic-menu-grid tr td:nth-child(2),
.magic-menu-grid tr th:nth-child(3),
.magic-menu-grid tr td:nth-child(3) {
    white-space: nowrap;
    width:50%;
}
.magic-menu-grid tr th:nth-child(3),
.magic-menu-grid tr td:nth-child(3) {
    width: 125px;
}
.magic-menu-grid tr th:nth-child(4),
.magic-menu-grid tr td:nth-child(4) {
    width: 50px;
    text-align: right;
    white-space:nowrap;
}
@media screen and (min-width: 450px) {
    .magic-menu-grid tr th:nth-child(4),
    .magic-menu-grid tr td:nth-child(4) {
        display:table-cell;
    }
}
@media screen and (min-width: 550px) {
    .magic-menu-grid tr th:nth-child(3),
    .magic-menu-grid tr td:nth-child(3) {
        display: table-cell;
    }
}
@media screen and (min-width: 800px) {
    .magic-menu-grid tr th:nth-child(2),
    .magic-menu-grid tr td:nth-child(2) {
        display: table-cell;
    }
}


/*
 * These styles are for the "Magic Menu plugin".
 */
@keyframes magic-menu-listener {
    0% {background-color:#fefefe;}
    100% {background-color:#fefeaa;}
}
.magic-menu-listener {
    position:fixed;
    bottom:0;
    left:1rem;
    background-color:#fefefe;
    z-index:999;
    padding:.5rem;
    overflow:hidden;
}
.magic-menu-listening {
    animation-name: magic-menu-listener;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function:ease-in-out;
}
label.magic-menu-tip {
    color:#a0a0a0;
    margin-bottom:0;
    width:100%;
}
.magic-menu-tip:before {
    content:'\00ab';
}
.magic-menu-tip:after {
    content:'\00bb';
}
@keyframes magic-menu-options {
    0% {margin-left:-500px;}
    100% {margin-left:0;}
}
.magic-menu-options {
    min-height:144px;
    animation-name: magic-menu-options;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes magic-menu-options-push {
    0% {margin-left:0;}
    100% {margin-left:-1000px;}
}
.magic-menu-options-push {
    min-height: 144px;
    animation-name: magic-menu-options-push;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 1;
    top: 38px;
    width: calc(100% - 1rem);
}
.magic-menu-help .magic-menu-options-pager-toolbar button {
    height:30px;
    width:35px;
    padding-left:9px;
    padding-top:7px;
    margin-bottom:0;
}
.magic-menu-help .magic-menu-options-pager-toolbar input[type=text] {
    height:30px;
    margin-bottom:0;
}
.magic-menu-help ul {
    margin-top:.5rem;
    margin-bottom:.5rem;
    margin-left:0;
    background:var(--wid-dark-col);
}
.magic-menu-help ul li {
    cursor:pointer;
    list-style:none;
    border:solid var(--border-width) var(--wid-border-col);
    border-top-color:rgba(0,0,0,.02);
    border-bottom:none;
}
.magic-menu-help ul li a {
    padding:.3rem;
    padding-left:1rem;
}
.magic-menu-help ul li:first-child {
    border-top-left-radius:var(--border-radius);
    border-top-right-radius:var(--border-radius);
}
.magic-menu-help ul li:last-child {
    border-bottom:solid var(--border-width) var(--wid-border-col);
    border-bottom-left-radius:var(--border-radius);
    border-bottom-right-radius:var(--border-radius);
}
.magic-menu-help ul li:hover {
    background-color:rgba(0,0,0,.1);
}
.magic-menu-help ul li a {
    display:block;
}
.magic-menu-options-root {
}
.magic-menu-options-local {
    color: #0000ff;
}
.magic-menu-options-global {
    font-style:italic;
}
label.input-label {
    min-width:0;
}
