
/*
 * Styles for main plugin button, which initiates Hyperlang.
 */

.magic-menu-editor {
    padding-bottom:150px;
}

/*
 * Button to start Hyperlang.
 */
.magic-menu-start {
}

/*
 * Main Hyperlang "listener", and its animation.
 */
@keyframes magic-menu-listener {
    0% {background-position-x:0px;}
    100% {background-position-x:50px;}
}
.magic-menu-listener {
    position:fixed;
    bottom:0;
    left:1rem;
    background-color:#fefefe;
    z-index:999;
    background:url(/modules/micro/media/skins/sea-breeze/bg.svg);
    background-color:#fefefe;
}
.magic-menu-listening {
    animation-name: magic-menu-listener;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function:ease-in-out;
}
.magic-menu-listener button {
}
label.magic-menu-tip {
    color:black;
    background:#fefefe;
    font-style:italic;
    margin-bottom:0;
    width:100%;
}
.magic-menu-tip:before {
    content:'"';
    font-style:italic;
}
.magic-menu-tip:after {
    content:'"';
    font-style:italic;
}
.magic-menu-help {
}
.magic-menu-help .magic-menu-options-pager-toolbar {
}
.magic-menu-help .magic-menu-options-pager-toolbar button {
    height:30px;
    width:35px;
    padding-left:9px;
    padding-top:7px;
    margin-bottom:0;
}
.magic-menu-help .magic-menu-options-pager-toolbar input[type=text] {
    height:30px;
    margin-bottom:0;
}
.magic-menu-help ul {
    margin-top:.5rem;
    margin-bottom:.5rem;
    margin-left:0;
}
.magic-menu-help ul li {
    cursor:pointer;
    list-style:none;
    border:solid var(--border-width) var(--wid-border-col);
    border-bottom:none;
    padding:.2rem;
    background-color:#fefefe;
}
.magic-menu-help ul li:first-child {
    border-top-left-radius:var(--border-radius);
    border-top-right-radius:var(--border-radius);
}
.magic-menu-help ul li:last-child {
    border-bottom:solid var(--border-width) var(--wid-border-col);
    border-bottom-left-radius:var(--border-radius);
    border-bottom-right-radius:var(--border-radius);
}
.magic-menu-help ul li:hover {
    background-color:rgba(0,0,0,.1);
}
.magic-menu-help ul.magic-menu-options {
}
.magic-menu-help ul li a {
    display:block;
}
.magic-menu-options-root {
}
.magic-menu-options-local {
    color: #0000ff;
}
.magic-menu-options-global {
    text-decoration:underline;
}
label.input-label {
    min-width:0;
}
.magic-menu-grid {
}
.magic-menu-grid tr th:nth-child(1),
.magic-menu-grid tr td:nth-child(1) {
    white-space: nowrap;
    width:50%;
}
.magic-menu-grid tr th:nth-child(2),
.magic-menu-grid tr td:nth-child(2),
.magic-menu-grid tr th:nth-child(3),
.magic-menu-grid tr td:nth-child(3),
.magic-menu-grid tr th:nth-child(4),
.magic-menu-grid tr td:nth-child(4) {
    display: none;
}
.magic-menu-grid tr th:nth-child(2),
.magic-menu-grid tr td:nth-child(2),
.magic-menu-grid tr th:nth-child(3),
.magic-menu-grid tr td:nth-child(3) {
    white-space: nowrap;
    width:50%;
}
.magic-menu-grid tr th:nth-child(3),
.magic-menu-grid tr td:nth-child(3) {
    width: 125px;
}
.magic-menu-grid tr th:nth-child(4),
.magic-menu-grid tr td:nth-child(4) {
    width: 50px;
    text-align: right;
    white-space:nowrap;
}
@media screen and (min-width: 450px) {
    .magic-menu-grid tr th:nth-child(4),
    .magic-menu-grid tr td:nth-child(4) {
        display:table-cell;
    }
}
@media screen and (min-width: 550px) {
    .magic-menu-grid tr th:nth-child(3),
    .magic-menu-grid tr td:nth-child(3) {
        display: table-cell;
    }
}
@media screen and (min-width: 800px) {
    .magic-menu-grid tr th:nth-child(2),
    .magic-menu-grid tr td:nth-child(2) {
        display: table-cell;
    }
}
